header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

/* Style for the navigation links */
nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Style for the content area */
.content {
    padding: 20px;
}

.nav-active{
    color: green;
}